cloudpickle>=3.0
ray[rllib]==2.7.1
rich>=13.0
tensorboardX>=2.6
torch>=2.0
termcolor>=2.0
gymnasium~=0.28.1
numpy~=1.26.4
pathlib~=1.0.1
pandas~=2.2.3
networkx~=3.4.2
phantom~=2.2.0
matplotlib~=3.10.1
setuptools~=75.8.0
openai~=1.68.2
anthropic~=0.40.0